# Auto detect text files and perform LF normalization
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Files that should keep CRLF endings
*.bat text eol=crlf 