@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Dimension by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* IE9 Specific Styles */
body {
	background-color: var(--color-bg);
}

.header {
	background: #0a0c17;
}

.main-nav {
	@media (max-width: 640px) {
		background: #0a0c17;
	}
}

.experience-card,
.resume-summary,
.portfolio-card {
	background: #0a0c17;
}

.notification {
	background: #0a0c17;
}

/* BG */

	#bg {
		&:before {
			background: _palette(bg-overlay);
		}
	}

/* Header */

	#header {
		.logo {
			margin: 0 auto;
		}

		.content {
			display: inline-block;
		}

		nav {
			ul {
				display: inline-block;

				 li {
				 	display: inline-block;
				 }
			}
		}
	}

/* Main */

	#main {
		article {
			margin: 0 auto;
		}
	}