.nav {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    padding: 1rem var(--container-padding);
    
    .nav-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
        gap: 1rem;
        justify-content: end;
    }
} 